<%
const baseMeta = {
  ttl: '登録情報一覧 - EXPRESS-CRUD',
  desc: 'サンプルプロジェクトの登録情報一覧ページです',
  url: 'list.ejs',
  path: '.'
};
%>
<%- include ('components/_header', {baseMeta}) %>
    <h1>EXPRESS-CRUD</h1>
    <table>
      <tr>
        <th>名前</th>
        <th>email</th>
        <th>操作</th>
      </tr>
      <% users.forEach( (value) => { %>
        <tr>
          <td><%= value.name %></td>
          <td><%= value.email %></td>
          <td>
            <a href="/edit/<%= value.id %>">更新</a>
            <a href="/delete/<%= value.id %>">削除</a>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</body>
</html>